node_modules
.git
.gitignore
.env
.env.*
!.env.example
dist
.next
out
.turbo
coverage
*.log
.vscode
.cache
.parcel-cache
docs
LICENSE
.prettierrc
.prettierignore
.eslintcache
.stylelintcache
*.tsbuildinfo
*.tgz
.nyc_output
.eslintcache
